<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>UI5 MVC with XmlView</title>
</head>
<body class='sapUiBody'>
    <div id='content'></div>

    <script id='sap-ui-bootstrap'
        src='/ui5/sap-ui-core.js'
        data-sap-ui-theme='sap_bluecrystal'
        data-sap-ui-libs='sap.ui.commons'>
    </script>
    <script type='text/javascript' src='/js/smallTable.controller.js'></script>
    <script type='text/javascript' src='/js/main.js'></script>
</body>
</html>